<h3><%=@client.business_name%></h3>
<h4><%=@client.address%></h4>
<h4><%=@client.email%></h4>
<h4><%=@client.website%></h4>
<h4><%=@client.projects%></h4>
<br></br>
<% if authorized_to_edit?(@client)%>
<a href="/clients/<%=@client.id%>/edit">Edit client details</a>
<br></br>
<form class="" action="clients/<%=@client.id%>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" name="" value="Delete">
</form>
<br></br>
<a href="/users/<%=current_user.id%>">BACK</a>
<%end%> 

